div {
  position: fixed;
top: 0;
left: 0;
width: 100%;
height: 50px;
background-color: black;
color: white;
display: flex;
align-items: center;
padding: 0 20px;
box-shadow: 0 2px 5px rgba(0,0,0,0.2);
z-index: 1000;
}

body {
  background-color: darkgray;
  font-family: Arial;
}

.toptitle {
  color: white;
}

.topinvite {
  position: absolute;
  right: 0;
  border: 2px solid pink;
  background-color: pink;
  border-radius: 2px;
}

.title {
  position: absolute;
  color: white;
  top: 500;
  left: 200;
}

.description {
  position: absolute;
  color: gray;
  top: 555;
  left: 200;
}

.invitemain {
  position: absolute;
  left: 215;
  top: 650;
  border: 2px solid white;
  background-color: white;
  border-radius: 2px;
  color: white;
}

.joinmain {
  position: absolute;
  left: 215;
  top: 725;
  border: 2px solid white;
  background-color: white;
  border-radius: 2px;
  color: white;
}

.tos {
    position: absolute;
    bottom: 200px;
    left: 20px;
    color: gray;
  }

.privacypolicy {
  position: absolute;
  bottom: 150px;
  left: 20px;
  color: gray;
}

